{% extends "maestra.html" %}
{% block titulo %}
Agregar artista
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column is-one-third">
            <h3 class="is-size-3">Agregar artista</h3>
            <form action="{{url_for('guardar_artista')}}" method="post">
                <label for="nombre">Nombre:</label>
                <input required type="text" class="input" placeholder="Nombre" name="nombre" id="nombre">
                <label for="nacionalidad">Nacionalidad:</label>
                <input required type="text" class="input" placeholder="Nacionalidad" name="nacionalidad" id="nacionalidad">
                <label for="aniolanzamiento">Año de lanzamiento</label>
                <input required type="text" class="input" placeholder="Año de lanzamiento" name="aniolanzamiento" id="aniolanzamiento">
                <label for="cantidaddiscos">Cantidad discos</label>
                <input required type="number" class="input" placeholder="Cantidad discos" name="cantidaddiscos" id="cantidaddiscos">
                <label for="web">Web</label>
                <input required type="text" class="input" placeholder="Web" name="web" id="web">
                <label for="redsocialprincipal">Red social principal</label>
                <input required type="text" class="input" placeholder="Red social principal" name="redsocialprincipal" id="redsocialprincipal">
                <label for="promediostream">Promedio stream</label>
                <input required type="number" class="input" placeholder="Promedio stream" name="promediostream" id="promediostream">
                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{url_for('artistas')}}" class="button is-primary mt-2">Volver</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}